.text{
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 
    padding-left: 20px;
    color:  rgb(0, 5, 2)
}

#chatText{
    background-color: rgba(73, 184, 63, 0.733);
    border-radius: 15px;

}

#chatInput{
    background-color: rgb(229, 240, 232);
    border-radius: 3px;

}
